<%- include("partials/header.ejs") %>

<div class="d-grid gap-3 col-py-6 align-items-center justify-content-md-center py-6 position-absolute top-50 start-50 translate-middle">
    <form action="/login" method="POST">
        <input class="btn btn-outline-secondary" style="width: 500px; height: 75px;" type="submit" value="Log In">
    </form>
    <form action="/Sign-Up" method="POST">
        <input class="btn btn-primary" style="width: 500px; height: 75px;" type="submit" value="Sign Up">
    </form>
</div>

<%- include("./partials/footer.ejs") %>