<%- include("partials/header.ejs") %>
<h1 style="text-align: center;">Sign Up</h1>
<form class="row g-3 " style="padding: 10px; height: 100%; padding-bottom: 200px;">
    <div class="row g-3">
        <div class="col">
          <label for="First name">First Name</label>  
          <input type="text" class="form-control" placeholder="First name" aria-label="First name">
        </div>
        <div class="col">
            <label for="Last name">First Name</label>
          <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
        </div>
    </div>
    <div class="col-md-6 py-6">
      <label for="inputEmail4" class="form-label">Email</label>
      <input type="email" class="form-control" id="inputEmail4">
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Password</label>
      <input type="password" class="form-control" id="inputPassword4">
    </div>
    <div class="col-md-4">
      <label for="inputState" class="form-label">Role</label>
      <select id="inputState" class="form-select">
        <option selected>Choose...</option>
        <option>Master</option>
        <option>Student</option>
      </select>
    </div>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Check me out
        </label>
      </div>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
</form>

<%- include("partials/footer.ejs") %>